<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ name }} - Web App Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Discover the apps of the web!">
    <base href="/">
    <link href="static/output.css" rel="stylesheet">
</head>

<body class="p-4">
    <nav>
        <a href="/apps"
            class="rounded-full block px-2.5 py-1 text-xs font-semibold text-indigo-600 shadow-sm hover:text-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            <svg class="w-16 h-16" stroke-width="1.5" stroke="currentColor" fill="none" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"></path>
            </svg>
        </a>
    </nav>
    <p>{{ id }}</p>
    <p>{{ name }}</p>
    <p>{{ description }}</p>
    <p>{{ source }}</p>
    <img src="{{ source }}" width="300">
</body>

</html>